:root{
    --hueNumber: 12;
}
html,body { height:100%; }

body{
    background-color: hsl(var(--hueNumber),100%, 30%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonsContainer{
    height: 500px;
    width: 500px;
    background-color: hsl(var(--hueNumber), 100%,50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gameButton{
    border:none;
    color: black;
    font-size: 80px;
}

#btn0{
    background-color: hsl(var(--hueNumber), 90%, 75% );
}
#btn1{
    background-color: hsl(var(--hueNumber), 90%, 80%);
}
#btn2{
    background-color: hsl(var(--hueNumber), 90%, 85%);    
}
#btn3{
    background-color: hsl(var(--hueNumber), 90%, 90%);
}

#btn0:hover{
    opacity:0.5;
}
#btn1:hover{
    opacity:0.5;
}
#btn2:hover{
    opacity:0.5;
}
#btn3:hover{
    opacity:0.5;
}

.glow{
    background-color: #f2f2f2 !important;
}
.dark{
    background-color: #2f2f2f !important;
}